.nav-container{
    max-width:1500px;
    margin: auto;
    min-width: fit-content;
    background-image: linear-gradient(to bottom, #040404, #101011, #181919, #202021, #272829, #272829, #272829, #272829, #202021, #191919, #111111, #050505);
}

.nav-content{
    max-width: 1060px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
}
.left-nav h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
     

}
.right-nav{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    margin: 0px 10px;

}
#nav-home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 10px;
    
}
.banner-content{
    max-width: 1060px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
.banner-txt{
    max-width:599.05px;
    height: fit-content;
    left: 190px;
    top: 199px;
    margin-bottom: 80px;

}
.banner-h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    
}
#bannertext-miama{
    font-family: 'Miama',sans-serif;
    font-size: 120px;
    font-weight: 400;                                              
}
.banner-paragraph{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.banner-btn{
    width: 224px;
    height: 54px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;

}
.banner-picture{
    max-width: 349px;
    height: 580px;
    left: 877px;
    top: 135px;
    
}
.banner-picture img{
    width: 100%;
    position: relative;
}
.icon{

    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 15px;
}
.plus{
    width: 68px;
    height: 24px;
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.tutorial{
    max-width: 108px;
height: 24px;
color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}
.videotag{
    width: 206px;
    height: 96px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 64%;
    left: 57%;
}
.videotag1{
    width: 206px;
    height: 96px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 30%;
    left: 77%;

}
.body {
    background-color: #040404;
}
.habit-header {
    color: rgb(246, 244, 244);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-top: 1px;
margin-bottom: 5px;
}
.habit-content p {
    color:  rgba(255, 255, 255, 0.5);;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    
}

.habit-content{
    width: 671px;
    height: 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
}
.habit-container{
    max-width: 1044px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 58;
    margin: 0 auto;
}
.habit-img-content {
    width: 1044px;
    height: 274px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.picture img {
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: 5px;
}
.img-info h3{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
margin-top: 1px;
}
.img-info p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
}
.img-card1 {
    position: static;
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30;
    padding: 0px;
    order: 0;
}
.run-left h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: auto;
    margin-bottom: 14px;
}
.run-left p {
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-bottom: 34px;
}
.run-left button{
width: 224px;
height: 54px;
border-radius: 42px;
background: rgb(230, 83, 60);
color: aliceblue;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
}
.run-left{
    width: 443px;
height: 290px;
left: 54px;
top: 41px;
margin: 41px 54px;
}
.run-right {
    width: 366px;
    height: 312px;
    left: 662px;
    top: 30px;
    margin:41px 54px;
}
.run-right img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    width: 100%;
    
    
}
.run-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1060px;
    height: 371px;
    margin: 62px 0px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.train-container h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-top: 2px;
}
.train-container p {
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
margin-top: auto;
}
.train-container{
    width: 1060px;
    height: 581px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 14;
padding: 0px;
margin-top: 40px;
margin-bottom: 40px;
border: 2px solid red;
}
.train-img-container{
    width: 1060px;
height: 581px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20;
}

.train-image-content {
    max-width: 1060px;
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f";
    
    
    
}
.tran-image-1{
    grid-area: a;
}
.tran-image-2{
    grid-area: b;
    
}
.tran-image-3{
    grid-area: c;
}
.tran-image-4{
    grid-area: d;
}
.tran-image-5{
    grid-area: e;
}
.tran-image-6{
    grid-area: f;
}
.img1{
    width: 323px;
    height: 218px;
}
.train-image-content img {
    width: 100%;
    height: 100%;
}